<md-card>
	<md-card-title>
		<p style="text-align: center;">Partido {{indice + 1}}</p>
	</md-card-title>
    <md-card-content>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <p><img src="assets/img/{{match.teamName1}}.png" alt=""></p>
                    <md-input-container class="example-full-width">
                        <input md-input value="{{match.teamName1}}" disabled>
                    </md-input-container>
                </td>
                <td>
                    <p><img src="assets/img/vs.png" alt=""></p>             	
                </td>
                <td>
                    <p><img src="assets/img/{{match.teamName2}}.png" alt=""></p>
                    <md-input-container class="example-full-width">
                        <input md-input value="{{match.teamName2}}" disabled>
                    </md-input-container>
                </td>
            </tr>
        </table>
    	<hr>
		<form>
			<md-select placeholder="Resultado" name="match">
				<md-option [value]="match.teamName1" (onSelect)="setResult(match.teamName1)">
					{{match.teamName1}}
				</md-option>
				<md-option [value]="'empate'" (onSelect)="setResult('empate')">
					Empate
				</md-option>
				<md-option [value]="match.teamName2" (onSelect)="setResult(match.teamName2)">
					{{match.teamName2}}
				</md-option>				
			</md-select>
		</form>
		<p class="date">Date: <span>{{match.date}}</span></p>
    </md-card-content>
</md-card>
