app-match-item {
	min-width: 400px;
}

.actionsCard {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
}

.save {
	background-color: teal;
	color: white;
}

.clear {
	background-color: turquoise;
	color: teal;
}