<md-toolbar color="primary">
	<button md-icon-button [mdMenuTriggerFor]="menu">
	    <md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu">    
	    <button md-menu-item routerLink="/inicio" routerLinkActive="active">
	        <md-icon>home</md-icon>
	        <span>Inicio</span>
	    </button>
	    <button md-menu-item routerLink="/polls" routerLinkActive="active">
	        <md-icon>insert_chart</md-icon>
	        <span>Polls</span>
	    </button>
	</md-menu>
    <span>{{nombre}}</span>
    <span class="example-spacer"></span>
    <button md-raised-button (click)="logout()" *ngIf="nombre != ''" [color]="'accent'">Salir</button>
    <button md-raised-button (click)="login()" *ngIf="nombre == ''" [color]="'warn'">Entrar</button>
</md-toolbar>
